@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&display=swap');

html {
    font-size: 20px;
}

h1 {
    font-family: 'Bona Nova', serif;
    font-size: 3.4rem;
    font-weight: 400;
}

h2 {
    font-family: 'Bona Nova', serif;
    font-size: 2.2rem;
    font-weight: 400;
    width: 100px;
}

h3 {
    font-family: 'Bona Nova', serif;
    font-size: 2.2rem;
    font-weight: 400;
}

p {
    font-family: 'Inter', serif;
    font-size: 1rem;
    font-weight: 300;
}

.first-p {
    font-family: 'Inter', serif;
    font-weight: 500;
    font-size: 1rem;
}

.p-meny {
    font-family: 'Inter', serif;
    font-weight: 400;
    font-size: 1.3rem;
}

.p-meny:hover {
    font-family: 'Inter', serif;
    font-weight: 400;
    font-size: 1.3rem;
    color: #9C8671;
}

body {
    background-color: #F2F1F0;
    width: 100%;
}

header {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 7rem;
    width: 100%;
    z-index: 1;
    align-items: center;
    background-color: #171717;
    padding: 1.6rem;
    color: #F2F1F0;
}

header nav {
    margin-right: 7.85rem;
}

@media screen and (min-width: 768px) {
    header {
        justify-content: space-between;
    }
}

header ul {
    display: none;
}

@media screen and (min-width: 768px) {
    header ul {
        list-style: none;
        display: flex;
        gap: 5rem;
    }
}

.hamburger {
    display: block;
}

@media screen and (min-width: 768px) {
    .hamburger {
        display: none;
    }
}

@media screen and (max-width: 300px) {
    header {
        display: block;
        background-color: #171717;
    }
}

.logo {
    margin: 0 0 0 7.85rem;
    font-family: 'Bona Nova', serif;
    font-size: 2.4rem;
    font-weight: 400;
}

.header2 {
    position: absolute;
    left: 20%;
    top: 30rem;
    color: #F2F1F0;
    animation-name: movein;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

@keyframes movein {
    from {
        transform: translate(-600px);
    }

    to {
        transform: translate(0px);
    }
}

.main {
    width: 100%;
}

.big-image {
    background-color: #171717;
    height: 33.1rem;
    width: 100%;
    object-fit: cover;
}

.intro-container {
    display: block;
    font-family: 'Inter', serif;
    font-size: 1.4rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    margin-bottom: 20%;
    width: 82%;
}

.image-roma-fontene {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 82%;
}

.title-where {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 4%;
    width: 82%;
}

.paragraph-where {
    display: block;
    margin-left: 20%;
    margin-top: 0px;
    margin-bottom: 15%;
    width: 70%;
}

.image-statue-mann-hest {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15%;
    width: 82%;
}

.image-tak {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 82%;
}

.title-how {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 4%;
    width: 82%;
}

.paragraph-how {
    display: block;
    margin-left: 20%;
    width: 70%;
}

.image-ruin {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    width: 82%;
}

.gallery {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 5rem;
    overflow-x: scroll;
    margin-top: 15%;
    margin-bottom: 10rem;
    margin-left: 64px;
}

.image-gallery {
    width: 10rem;
}

footer {
    position: static;
    height: 7rem;
    width: 100%;
    background-color: #171717;
    padding: 20rem;
    color: #F2F1F0;
}

.footer-text {
    margin: auto;
}